@model QRTableFoodOrderingSystem.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isSenttoKitchen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isSenttoKitchen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPrepared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPrepared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isSenttoTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isSenttoTable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QRCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QRCode.QRId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
